.feature{
    padding: 80px;
    margin: 0 auto;
    display:flex;
    justify-content: space-between;
    align-items: center;
    gap: 80px;
    &-content{
        display:flex;
        justify-content:center;
        flex-direction:column;
        gap: 32px;
        max-width: 600px;
    }
    &-link{
        width: fit-content;
    }
}

@media screen and (max-width: 1279.98px) {
    .feature{
        flex-direction: column;
    }
}


@media screen and (max-width: 1023.98px) {
    .feature{
        padding: 40px;
    }
}

@media screen and (max-width: 767.98px) {
    .feature{
        gap: 40px;
    }
}
