block mixins 
    include ./views/mixins
html 
    head
        meta(charset='UTF-8')
        meta(name='viewport' content='width=device-width, initial-scale=1.0')
        link(rel='preconnect' href='https://fonts.googleapis.com')
        link(rel='preconnect' href='https://fonts.gstatic.com' crossorigin='')
        link(href='https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700;800&display=swap' rel='stylesheet')
        script(src='https://kit.fontawesome.com/f5e428e9ac.js' crossorigin='anonymous')
        link(href='./css/style.css' rel='stylesheet')
        title Uteach
    body 
        .wrapper
            include ./views/header
            main 
                include ./views/tool
                include ./views/about
                include ./views/explore
                include ./views/analyst
                include ./views/review
                include ./views/feature
                include ./views/join
            include ./views/footer
        script(src='./app.js')