section.about 
    .about-content 
        h2.g-heading.g-heading--normal.about-heading An all-in-one app that makes it easier
        ul.about-list 
            li.about-item 
                img(srcset="./img/icon-check.png 2x")
                p.g-text.g-text--normal.about-text Est et in pharetra magna adipiscing ornare aliquam.
            li.about-item 
                img(srcset="./img/icon-check.png 2x")
                p.g-text.g-text--normal.about-text Tellus arcu sed consequat ac velit ut eu blandit.
            li.about-item 
                img(srcset="./img/icon-check.png 2x")
                p.g-text.g-text--normal.about-text Ullamcorper ornare in et egestas dolor orci.
        a.btn.btn--link.about-link 
            p Find more about the app
            img(srcset="./img/icon-arrow-link.png 2x")
    .about-main 
        .video
            .video-navbar 
                .video-navbar-icon
                    img(srcset="./img/circle-red.png 2x")
                    img(srcset="./img/circle-yellow.png 2x")
                    img(srcset="./img/circle-green.png 2x")
            .video-screen 
                img(srcset="./img/about-img.png 2x")
        .about-tag-list
            +tag('Feature', 'The map of mathematics', 'Egestas elit dui scelerisque ut eu purus aliquam vitae habitasse.', 'g-badge--purple', 'about-tag-item')
            +tag('Popular', 'Design for how people think', 'Aliquam ut euismod condimentum elementum ultricies volutpat sit non. ', 'g-badge--blue', 'about-tag-item')
            +tag('New', 'International & commercial law', 'Molestie integer eu arcu, mauris bibendum rhoncus imperdiet dui. ', 'g-badge--green', 'about-tag-item')

