section.analyst 
    .analyst-list
        +analystItem('./img/icon-heart.png 2x', '195', 'user countries')
        +analystItem('./img/icon-diamond.png 2x', '1M', 'valued teachers')
        +analystItem('./img/icon-school.png 2x', '195', 'happy students')