section.explore 
    .explore-main 
        img(alt="explore image", srcset="./img/explore-img.png 2x")
    .explore-content 
        h2.g-heading.g-heading--normal.explore-heading Meet international students & teachers
        p.g-text.g-text--normal.explore-text Morbi sit egestas dignissim pharetra, sed amet. Tempus justo senectus risus ac vel, velit, nunc. Eget commodo eget in aliquam facilisi facilisi nec magna hendrerit. Placerat ipsum sit tellus urna, faucibus aenean lorem faucibus integer.
        a.btn.btn--link.explore-link(href='#!') 
            p Explore teachers and students
            img(srcset="./img/icon-arrow-link.png 2x")