section.feature 
    .feature-content 
        h2.g-heading.g-heading--normal.feature-heading All the cool features
        p.g-text.g-text--normal.feature-text Mauris consequat, cursus pharetra et, habitasse rhoncus quis odio ac. In et dolor eu donec maecenas nulla. Cum sed orci, sit pellentesque quisque feugiat cras ullamcorper. Ultrices in amet, ullamcorper non viverra a, neque orci.
        a.btn.btn--link.feature-link(href='#!') 
            p View all the features
            img(srcset="./img/icon-arrow-link.png 2x")
    .feature-main 
        img.feature-img(alt="feature image", srcset="./img/feature-img.png 2x")
        
    