footer.footer 
    .footer-content
        .footer-logo 
            img(srcset="./img/icon-footer-logo.png 2x")
            h5 teach
        .footer-main 
            .footer-topic
                p.footer-heading Product
                ul.footer-list 
                    li.footer-item Pricing
                    li.footer-item Overview
                    li.footer-item Browse
                    li.footer-item 
                        p Accessibility
                        .g-badge.g-badge--purple.footer-badge BETA
            .footer-topic
                p.footer-heading Solutions
                ul.footer-list 
                    li.footer-item Brainstorming
                    li.footer-item Ideation
                    li.footer-item Wireframing
                    li.footer-item Research
            .footer-topic
                p.footer-heading Resources
                ul.footer-list 
                    li.footer-item Help Center
                    li.footer-item Blog
                    li.footer-item Tutorials
                    li.footer-item FAQs
            .footer-topic
                p.footer-heading Support
                ul.footer-list 
                    li.footer-item Contact Us
                    li.footer-item Developers
                    li.footer-item Documentation
                    li.footer-item Integrations
            .footer-topic
                p.footer-heading Company
                ul.footer-list 
                    li.footer-item About
                    li.footer-item Press
                    li.footer-item Events
                    li.footer-item
                        p Request Demo
                        img.footer-link(srcset="./img/icon-arrow-right-orange.png 2x")
    .copyright
        .copyright-title
            p uteach @ 2023. All rights reserved.
        ul.copyright-list  
            li.copyright-item Terms
            li.copyright-item Privacy
            li.copyright-item Contact
            li.copyright-item 
                img(srcset="./img/icon-world.png 2x")
                p EN
            li.copyright-item 
                img(srcset="./img/icon-euro.png 2x")
                p EUR
            li.copyright-item 
                img(srcset="./img/icon-accessibility.png 2x")



