header.header 
    .header-nav
        .header-right
            .header-logo    
                img(alt="logo", srcset="./img/icon-header-logo.png 2x")
                h5 teach 
            ul.header-menu 
                li.header-item Products
                li.header-item Solutions
                li.header-item Pricing
                li.header-item Resources
                    img(alt="dropdown", srcset="./img/icon-dropdown.png 2x")
                li.header-auth 
                    a.btn.btn--white.login(href='#!') Login 
                    a.btn.btn--white.signup(href='#!') Sign Up Now
        img.toggle(alt="menu", srcset="./img/icon-toggle-menu.png 2x")
    .header-section 
        .header-main
            .header-content 
                h1.g-heading.g-heading--big.header-heading Teach students worldwide
                p.g-text.g-text--big.header-text Amet nunc diam orci duis ut sit diam arcu, nec. Eleifend proin massa tincidunt viverra lectus pulvinar. Nunc ipsum est pellentesque turpis ultricies.
                .header-actions
                    a.btn.btn--orange.header-signup(href='#!') Sign Up Now
                    .header-viewdemo
                        img(srcset="./img/icon-play.png 2x")
                        a.btn.header-btn-viewdemo(href='#!') View Demo
            .header-brand
                p Trusted by <br>leading companies
                .header-brand-img 
                    img(alt="brand 1", srcset="./img/header-brand1.png 2x")
                    img(alt="brand 2", srcset="./img/header-brand2.png 2x")
                    img(alt="brand 3", srcset="./img/header-brand3.png 2x")
                    img(alt="brand 4", srcset="./img/header-brand4.png 2x")
                    img(alt="brand 5", srcset="./img/header-brand5.png 2x")
        .header-img 
            img(alt="header image", srcset="./img/header-img.png 2x")

