section.join 
    .join-content 
        h2.g-heading.g-heading--normal.join-heading Join a world of learning
        p.g-text.g-text--normal.join-text Malesuada ut aliquam at ac est nisi, interdum etiam dignissim. <br>Risus elit et fringilla habitant ut facilisi.
        a.btn.btn--orange.join-btn Sign Up Now