section.review 
    .review-header 
        h2.g-heading.g-heading--normal.review-heading What everyone says
        .review-actions
            img.review-btn.review-previous(srcset="./img/icon-arrow-left-orange.png 2x")
            img.review-btn.review-next(srcset="./img/icon-arrow-right-orange.png 2x")
    .review-list 
        +reviewItem('Lacus vestibulum ultricies mi risus, duis non, volutpat nullam non. Magna congue nisi maecenas elit aliquet eu sed consectetur. Vitae quis cras vitae praesent morbi adipiscing purus consectetur mi.', './img/review-avatar1.png 2x', 'Hellen Jummy', 'Financial Counselor')
        +reviewItem('Odio rhoncus ornare ut quam. Molestie vel duis quis scelerisque ut id. In tortor turpis viverra sagittis ultrices nisi, nec tortor. Vestibulum, ultrices ultricies neque, hac ultricies dolor.', './img/review-avatar2.png 2x', 'Ralph Edwards', 'Math Teacher')
        +reviewItem('Sagittis nunc egestas leo et malesuada urna risus. Morbi proin et cras aliquam. Diam tellus, amet, hac imperdiet. Tellus mi volutpat tellus, congue malesuada sit nisl donec a.', './img/review-avatar3.png 2x', 'Hellena John', 'Psychology Student')