section.tool 
    .tool-content 
        h2.g-heading.g-heading--normal.tool-heading All the tools that you need
        p.g-text.g-text--normal.tool-text Sit elit feugiat turpis sed integer integer accumsan turpis. Sed suspendisse nec lorem mauris. <br>Pharetra, eu imperdiet ipsum ultrices amet, dui sit suspendisse.
    .tool-main 
        .screen 
            .screen-navbar 
                .screen-navbar-left 
                    img(srcset="./img/circle-red.png 2x")
                    img(srcset="./img/circle-yellow.png 2x")
                    img(srcset="./img/circle-green.png 2x")
                .screen-navbar-center
                    span uteach.com
                .screen-navbar-right 
                    img(srcset="./img/icon-arrow-left.png 2x")
                    img(srcset="./img/icon-arrow-right.png 2x")                   
            .screen-img     
                img(alt="screen", srcset="./img/tool-img.png 2x")
        .tool-brands
            .tool-brand
                img(srcset="./img/tool1.png 2x")
            .tool-brand
                img(srcset="./img/tool2.png 2x")
            .tool-brand
                img(srcset="./img/tool3.png 2x")
            .tool-brand
                img(srcset="./img/tool4.png 2x")
            .tool-brand
                img(srcset="./img/tool5.png 2x")
            .tool-brand
                img(srcset="./img/tool6.png 2x")
            .tool-brand
                img(srcset="./img/tool7.png 2x")
            .tool-brand
                img(srcset="./img/tool8.png 2x")
            .tool-brand
                img(srcset="./img/tool9.png 2x")

            